body{
	margin:0;
	overflow:hidden;
}
/*-------------------------------*/
/*Site Panel:Begin               */
/*-------------------------------*/
.border-vertical-line{
    width: 80%;
    height: 1px;
    background-color: black;
    float: left;
    margin: 225px 0px 16.5px 10%;
}
.side-button{
    width: 100%;
    height: 70px;
    float: left;
    margin-bottom: 5px;
}
.side-button img{
    width:100%;
    height:100%;
}
.site-header-wrap{
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 330px;
    box-shadow: inset 10px -10px 22px 0px rgba(0,0,0,0.99);
    -webkit-transition: left 3s; /* Safari */
    transition: left 3s;
}
.site-header-wrap-open{
    height: 70px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 80px;
    box-shadow: inset 10px -10px 22px 0px rgba(0,0,0,0.99);
    -webkit-transition: left 3s; /* Safari */
    transition: left 3s;
}
.site-header-wrap h1,
.site-header-wrap-open h1{
	margin: 16.5px;
    float: left;
}
.site-logo{
	width: 100%;
    position: absolute;
    z-index: 2;
}
.site-logo-wrapper img{
   width: 100%;
   height: 220px;
}
.side-border{
	position: absolute;
    left: 0;
    width: 70px;
    height: 100%;
    
}
.site-header-wrap,
.side-border,
.site-header-wrap-open{
	background: grey;
    z-index: 1;
}
#panel-right{
    width: 70px;
    height: 1030px;
    position: absolute;
    right: 0;
    top: 70px;
}
#panel-button-right{
    webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #9aa9b3;
    padding: 50px 20px 20px 40px;
    text-decoration: none;
    top: 40%;
    position: relative;
}
#panel-bottom{
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    background-color: red;
}
#panel-button-bottom{
    border-radius: 60px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #9aa9b3;
    padding: 50px 30px 20px 40px;
    text-decoration: none;
    left: 800px;
    position: relative;
    display: inline-block;
}
/*-------------------------------*/
/*TODO !! FIX THIS THING         */
/*-------------------------------*/
.site-main-nav{
	position: absolute;
    background-color: rgba(204, 192, 192, 0.7);
    width: 250px;
    height: 400px;
    top: 320px;
    left: 90px;
    border-radius: 15px;
    z-index: 2;
}
.site-main-nav ul{
	 list-style-type: none;
	 padding:0;
}
.site-main-nav li{
    font-size:16px;
    float: left;
    clear: both;
    font-family: Arial;
    color: #000000;
    font-size: 16px;
    background: #93a9b8;
    padding: 3px 0px;
    text-decoration: none;
    margin-bottom:5px;
    width: 100%;
    text-align:center;
}		

.sidebar-wrapper{
    width: 250px;
    height: 100%;
    position: absolute;
    background-color: grey;
    left: 70px;
    z-index: 1;
    box-shadow: inset -19px 0px 26px -10px rgba(0,0,0,0.99);
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}
.sidebar-wrapper-open{
    width: 0px;
    height: 100%;
    position: absolute;
    background-color: grey;
    left: 70px;
    z-index: 1;
    box-shadow: inset -19px 0px 26px -10px rgba(0,0,0,0.99);
    -webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}
/*-------------------------------*/
/*Site Panel:End                 */
/*-------------------------------*/

/*-------------------------------*/
/*Page:Begin                     */
/*-------------------------------*/
.page{
	background-image: url("pic/wall.jpg");
    background-size: 100%;
    margin: 0;
    width: 	100%;
    height: 1100px;
    background-repeat:no-repeat;
    overflow: 	hidden;
}
.main{
    width: 100%;
    height: 100%;
    float: left;
    margin: 0px 0 0 0;
    background-color: rgba(59,200,232,0.2);
    
}
.page1{
    background-image: url("pic/wall.jpg");
    background-size: 100%;
    margin: 0;
    width:  100%;
    height: 1100px;
    background-repeat:no-repeat;
    overflow:   hidden;
}
/*-------------------------------*/
/*Page:End                       */
/*-------------------------------*/

/*-------------------------------*/
/*Blog:Begin                     */
/*-------------------------------*/
.blog-post-container{
    width: 100%;
    float: left;
    margin: 95px 0 0 330px;
    -webkit-transition: margin 2s; /* Safari */
    transition: margin 2s;
}
.blog-post-container-open{
    width: 100%;
    float: left;
    margin: 95px 0 0 80px;
    -webkit-transition: margin 2s; /* Safari */
    transition: margin 2s;

}
.blog-post{
	width: 350px;
    float: left;
    margin: 0 0 0 50px;
    display: inline-block;
    border: 1px solid;
    border-top: 10px solid;
}
.featured-img{
    width: 100%;
    height: 300px;
    background-image: url("pic/featured.jpg");
    background-position: center top;
    float: left;
}
.featured-img2{
    width: 100%;
    height: 300px;
    background-image: url("pic/featured2.jpg");
    background-position: center top;
    float: left;
}
.blog-button-left img{
    width: 100px;
    float: left;
    margin-top: 200px;   
}
.blog-button-right img{
    width: 100px;
    float: right;
    margin-top: 200px;
}

.blog-post-inner{
    background-color: white;
    float: left;
}
.blog-post-header h1,
.blog-post-meta{
    text-align: center;
}
.blog-post-content p{
    text-align: center;
    text-indent: 1.5em;
}
.blog-read-more{
    width: 100px;
    background-color: lightblue;
    padding: 10px 10px 10px 10px;
    text-indent: 0;
    margin: 10px auto;
}
.timeline{
    background-image: url("pic/timeline.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 75%;
    height: 200px;
    float: left;
    margin: 40px 3% 0px 380px;
}
/*-------------------------------*/
/*Blog:End                       */
/*-------------------------------*/
/*-------------------------------*/
/*jScrollPane:Begin              */
/*-------------------------------*/
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    background: red;
}

.jspHorizontalBar
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.jspCap
{
    display: none;
}

.jspHorizontalBar .jspCap
{
    float: left;
}

.jspTrack
{
    background: #dde;
    position: relative;
}

.jspDrag
{
    background: #bbd;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
    float: left;
    height: 100%;
}

.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspHorizontalBar .jspArrow
{
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}
/*-------------------------------*/
/*jScrollPane End                */
/*-------------------------------*/
